<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
<tr>
    <td>
        <a href="/staff_addspecialclassnotification">add special class notification</a>
    </td>
</tr>

<tr>
    <td>
        <a href="/staff_viewattedance">view attendence</a>
    </td>
</tr>
    <tr>
    <td>
        <a href="/staff_viewinternalmark">view internal mark</a>
    </td>
</tr>
    <tr>
    <td>
        <a href="/staff_viewspecialclassnotification">view special class notification</a>
    </td>
</tr>
    <tr>
    <td>
        <a href="/staff_viewstudent">view student</a>
    </td>

    </tr>
    <tr>
    <td>
        <a href="/staff_viewtimetable">view time table</a>
    </td>
</tr>
    <tr>
    <td>
        <a href="/staff_changepassword">change password</a>
    </td>
</tr>
    <tr>
    <td>
        <a href="">logout</a>
    </td>
</tr>



</table>



</body>
</html>