<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<tr>
    <td>
        <a href="/student_viewattedence">view attendence</a>
    </td>
</tr>
<tr>
    <td>
        <a href="/student_viewexternalexammark">view external exam mark</a>
    </td>
</tr>
<tr>
    <td>
        <a href="/student_viewinternalmark">view internal mark</a>
    </td>
</tr>
<tr>
    <td>
        <a href="/student_viewspecialclass">view special class </a>
    </td>
</tr>
<tr>
    <td>
        <a href="/student_viewsubject">view subject </a>
    </td>
</tr>
<tr>
    <td>
        <a href="/student_viewtimetable">view time table</a>
    </td>
</tr>
<tr>
    <td>
        <a href="/student_chnagepassword">change password</a>
    </td>
</tr>
<tr>
    <td>
        <a href="/student_studentchatbox">student chat box </a>
    </td>
</tr>




</body>
</html>