<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="form1" method="post" action="">
  <p>&nbsp;</p>
  <table width="816" height="670" border="1">
    <tr>
      <td>HOME</td>
    </tr>
    <tr>
      <td><a href="/admin_addcourse">ADD COURSE</a></td>
    </tr>
    <tr>
      <td><a href="/admin_viewcourse">VIEW COURSE</a></td>
    </tr>
    <tr>
      <td><a href="/admin_addsubject">ADD SUBJECT</a></td>
    </tr>
    <tr>
      <td><a href="/admin_viewsubject">VIEW SUBJECT</a></td>
    </tr>
    <tr>
      <td><a href="/admin_addstudent">ADD STUDENT</a></td>
    </tr>
    <tr>
      <td><a href="/admin_viewstudent">VIEW STUDENT</a></td>
    </tr>
    <tr>
      <td><a href="/admin_addstaff">ADD STAFF</a></td>
    </tr>
    <tr>
      <td><a href="/admin_viewstaff">VIEW STAFF</a></td>
    </tr>
    <tr>
      <td height="26"><a href="/admin_adduniversitynotification">ADD UNIVERSITY NOTIFICATION</a></td>
    </tr>
    <tr>
      <td><a href="/admin_viewuniversitynotification">VIEW UNIVERSITY NOTIFICATION</a></td>
    </tr>
    <tr>
      <td><a href="/admin_addcollegenotification">ADD COLLEGE NOTIFICATION</a></td>
    </tr>
    <tr>
      <td><a href="/admin_viewcollegenotification">VIEW COLLEGE NOTIFICATION</a></td>
    </tr>
    <tr>
      <td><a href="/admin_addtimetable">ADD TIME TABLE</a></td>
    </tr>
    <tr>
      <td><a href="/admin_viewtimetable">VIEW TIME TABLE</a></td>
    </tr><tr>
      <td><a href="/admin_addfee">ADD FEE</a></td>
    </tr>
    <tr>
      <td><a href="/admin_viewfee">VIEW FEE</a></td>
    </tr>
    <tr>
      <td><a href="#">CHANGE PASSWORD</a></td>
    </tr>
    <tr>
      <td><a href="#">LOGOUT</a></td>
    </tr>
  </table>

</form>
</body>
</html>