<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="368" height="183" border="1">
    <tr>
      <td width="23">Sl no</td>
      <td width="6">Name</td>
      <td width="6">DOB</td>
      <td width="6">Gender</td>
      <td width="6">Course</td>
      <td width="6">Semester</td>
      <td width="6">Contact Details</td>
      <td width="6">Address</td>
      <td width="6">Photo</td>
      <td width="6">&nbsp;</td>
      <td width="20">&nbsp;</td>
    </tr>
    {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i["student_name"]}}</td>
      <td>{{ i["dob"]}}</td>
      <td>{{ i["gender"]}}</td>
      <td>{{ i["course_name"]}}</td>
      <td>{{ i["semester"]}}</td>
      <td>{{ i["email_id"] }}
        <br>{{ i['phone_number'] }}</td>
      <td>Place:{{ i["place"]}}<br>City:{{i['city']}}<br>Pincode:{{i['pin_code']}}</td>
      <td><img src="{{ i['photo']}}" alt="Images"> </td>
      <td><a href="/admin_editstudent/{{ i['student_id']}}">Edit</a></td>
      <td><a href="/admin_deletestudent/{{ i['student_id']}}">Delete</a></td>
    </tr>
    {%endfor %}
  </table>

</form>
</body>
</html>
